doctype html
html(lang="es")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js", integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm", crossorigin="anonymous")
    link(rel="stylesheet", href="stylesheets/style.css")
    script(type="module", src="javascripts/main.js", defer)

    title Integrador

  body.container-fluid
    section.container-fluid.text-light.mt-2.p-4.text-center
      h1 Juego de preguntas y respuestas
      h3.text-center ¡Bienvenido a este divertido Juego!

    section.container-fluid.mt-5#instruccion(style="display: inline")
      .container-fluid.mt-5
        h1.display-1.text-center.border.rounded.p-2 Instrucciones
        p.lead.fw-medium El juego se basa en un juego de preguntas y respuestas.
        p.lead.fw-medium Para jugar, solo debes contestar las preguntas haciendo click en las opciones correspondientes.
        p.lead.fw-medium Te tocarán preguntas al azar o puedes elegir un modo de juego.
        p.lead.fw-medium.text-break Entre más preguntas correctas tengas, más puntos sumarás y tu puntuación aparecerá en la parte superior junto con otros jugadores.

      .container.text-center
        h1.display-1 Modos de juego:
        .d-grid.gap-50.d-md-block
          button#IniciarJuego.btn.btn-primary(type="button") Iniciar Juego
          button#reset.btn.btn-primary(type="button") Reset

    .container.mt-5
      section#pregunta.mb-5
      section#opciones.mb-5
      #alertas

    .progress(role="progressbar", aria-label="Animated striped example", aria-valuenow="75", aria-valuemin="0", aria-valuemax="100")
      .progress-bar.progress-bar-striped.progress-bar-animated(style="width: 75%")

    #reiniciar-container.container-fluid.mt-5

    section.container-fluid.text-light.mt-2.p-4
      h1.display-6.border.rounded.p-2 Ranking de jugadores:

    section.container-fluid.text-light.mt-2.p-4.text-center
      footer.text-light.text-center.py-3
        p Derechos de autor © 2023 Toloza Leonel - 2023
